/* some style */

.left {
    float: left;
}

.canvas {
    width: 68%;
}

.canvas.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.canvas.grab {
    cursor: -webkit-grab;
    cursor: grab;
}
canvas.move {cursor: move;}
canvas.crosshair {cursor: crosshair;}


.side-bar {
    width: 350px;
    margin-right: 10px;
}

.options-container {
    border-style: solid;
}

.item-handler {
    margin: 4px;
    padding: 10px;
}

.item-handler * {
    pointer-events: none;
}

.item-handler.selected {
    background-color: lightblue;
}
